[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# pytest = "*"
# pytest-cov = "*"
# pylint = "*"
# pylint-exit = "*"
# codecov = "*"
# ipython = "*"
mypy = "*"


[packages]
flask = "*"
flask-cors = "*"
fire = "*"
path-py = "*"
pyyaml = "*"
toml = "*"

[requires]
python_version = "3.6"
